#item-list {
    .item {
        background-color: var(--background-secondary);
        position: relative;


        & [type="checkbox"] {
            all: unset;
            position: absolute;
            inset: 0;
        }

        .checkbox-image {
            flex: 0 0 1.5rem;

            background: url(../assets/icons/checkbox-default.svg) no-repeat center/contain;
        }

        &:hover,
        &:focus-within {
            & .checkbox-image {
                background-image: url(../assets/icons/checkbox-hover.svg);
            }
        }

        &:has(:checked) .checkbox-image {
            background-image: url(../assets/icons/checkbox-selected.svg);
        }

        & p {
            margin-right: auto;
        }

        & .trash-icon {
            flex: 0 0 1.5rem;
            background: url(../assets/icons/trash.svg) no-repeat center/contain;
            z-index: 1;

        }
    }
}